/dts-v1/;

#include "meizu_m6.dts"

/* Common FHD board defaults.  The included MT6755 description supplies the
 * platform devices; this file selects the display and touch variants. */
/ {
	model = "MT6755 FHD";
	compatible = "mediatek,MT6755";

	chosen {
		atag,videolfb-lcmname = "nt35695_fhd_dsi_cmd_truly_nt50358_drv";
	};
};

&touch {
	interrupt-parent = <&eintc>;
	interrupts = <1 2>;
	debounce = <1 0>;
	tpd-resolution = <1080 1920>;
	tpd-max-touch-num = <5>;
	tpd-filter-enable = <1>;
	tpd-filter-pixel-density = <146>;
	tpd-filter-custom-prameters = <0 0 0 0 0 0 0 0 0 0 0 0>;
	tpd-filter-custom-speed = <0 0 0>;
	pinctrl-0 = <&s25_ctp_default>;
	pinctrl-1 = <&s25_ctp_eint_as_int>;
	pinctrl-2 = <&s25_ctp_eint_output0>;
	pinctrl-3 = <&s25_ctp_eint_output1>;
	pinctrl-4 = <&s25_ctp_rst_output0>;
	pinctrl-5 = <&s25_ctp_rst_output1>;
};

&pio {
	s25_ctp_default: s25_ctp_default {
	};

	s25_ctp_eint_as_int: s25_ctp_eint_as_int {
		pins_cmd_dat {
			pins = <PINMUX_GPIO10__FUNC_GPIO10>;
			slew-rate = <0>;
			bias-disable;
		};
	};

	s25_ctp_eint_output0: s25_ctp_eint_output0 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO10__FUNC_GPIO10>;
			slew-rate = <1>;
			output-low;
		};
	};

	s25_ctp_eint_output1: s25_ctp_eint_output1 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO10__FUNC_GPIO10>;
			slew-rate = <1>;
			output-high;
		};
	};

	s25_ctp_rst_output0: s25_ctp_rst_output0 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO56__FUNC_GPIO56>;
			slew-rate = <1>;
			output-low;
		};
	};

	s25_ctp_rst_output1: s25_ctp_rst_output1 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO56__FUNC_GPIO56>;
			slew-rate = <1>;
			output-high;
		};
	};
};

&mtkfb {
	pinctrl-names = "default", "mode_te_gpio", "mode_te_te", "lcm_rst_out0_gpio",
		"lcm_rst_out1_gpio", "lcd_bias_enp0_gpio", "lcd_bias_enp1_gpio",
		"lcd_bias_enn0_gpio", "lcd_bias_enn1_gpio";
	pinctrl-5 = <&s25_lcd_bias_enp0>;
	pinctrl-6 = <&s25_lcd_bias_enp1>;
	pinctrl-7 = <&s25_lcd_bias_enn0>;
	pinctrl-8 = <&s25_lcd_bias_enn1>;
};

&pio {
	s25_lcd_bias_enp0: s25_lcd_bias_enp0 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO43__FUNC_GPIO43>;
			slew-rate = <1>;
			output-low;
		};
	};

	s25_lcd_bias_enp1: s25_lcd_bias_enp1 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO43__FUNC_GPIO43>;
			slew-rate = <1>;
			output-high;
		};
	};

	s25_lcd_bias_enn0: s25_lcd_bias_enn0 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO42__FUNC_GPIO42>;
			slew-rate = <1>;
			output-low;
		};
	};

	s25_lcd_bias_enn1: s25_lcd_bias_enn1 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO42__FUNC_GPIO42>;
			slew-rate = <1>;
			output-high;
		};
	};
};

&i2c0 {
	cap_touch@5d {
		status = "disabled";
	};

	/* Bind the stock-compatible FocalTech path at the panel controller address. */
	ft5x26@38 {
		compatible = "mediatek,cap_touch";
		reg = <0x38>;
		rst-gpio = <&pio 56 0>;
		int-gpio = <&pio 10 0>;
		status = "okay";
	};

	i2c_lcd_bias@3e {
		status = "disabled";
	};

	i2c_lcd_bias@11 {
		compatible = "mediatek,i2c_lcd_bias";
		reg = <0x11>;
		status = "okay";
	};
};
